@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg,#b2bec3,#dfe6e9);
  background-size: cover;
}

form {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-left: 650px;
  margin-right: 500px;
  margin-bottom: 250px;
}

.col-md-12 {
  height: 100vh;
  width: 100vw;
  display:inline;
  justify-content: center;
  align-items: center;
}

