body,html {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.card.card-info {
    height: 700px;
    width: 1000px;
    /* margin-top: 5px;
    margin-left: 600px;
    margin-right: 300px; */
    margin: auto;
}


.card.card-success {
    height: 700px;
    width:400px;
    margin-top: 5px;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    background-color:  #F8F8FF;
}


.card-body {
    overflow-y: auto;
    background-color: #F8F8FF;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: #FFFFFF;
}

.card-footer {
    border-radius: 0 0 15px 15px ;
    border-top: 0 !important;
    background-color: black;
}

.user_img {
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;
}


.img_cont_msg {
    height: 40px;
    width: 40px;
}

.chat-summary {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.chat-summary span {
    font-size: 20px;
    color: white;
}

.chat-summary p {
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.msg_container_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    color:white;
}

.msg_time_send {
    position: absolute;
    right:0;
    bottom: -20px;
    color: rgba(10, 10, 10, 0.5);
    font-size: 12px;
    width: max-content;
}

.all-input {
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}


.all-input:focus {
   box-shadow:none !important;
   outline:0px !important;
}

button {
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    border-radius: 0 20px 20px 0 !important;
}

/* .hide {
    display:none;
}  */

.login {
    padding: 10px;
}

.main {
    margin: 30px auto;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.5em;
  vertical-align: middle;
  margin:3px;
  border:1.5px solid #f5f6fa;
}


.msg_container_send{
    color:#FFFFFF;
}

.msg_container_send2{
    color:grey;
} 

.msg_container_send.event-message{
    color: green;  
}








