

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.far.fa-circle{
    color: #B0E0E6;
}

.fa.fa-user{
    color:#FF8C00;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #EA0000;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix{
    color: white;
}
